@tailwind base;
@tailwind components;
@tailwind utilities;

/* Normalize body to work with Tailwind layout */
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f9fafb; /* Tailwind gray-50 */
}
